extends template
block header
block footer
    div.body
        | You have deleted your account #{email}!
        br
        | We hope to see you again.
        br
        img(src='https://community.gamepress.gg/uploads/default/original/4X/a/7/9/a792830607ceede4866e044fa77f2161df935625.gif')