extends template
block header
block footer
    div.body
        | Dear user #{email}!
        br
        | You have changed your password
        br
        img(src='https://media.tenor.com/images/87e0f72e302f214a6216e65d700b3684/tenor.gif')