extends template
block header
block footer
    div.body
        | Hi #{name}!
        br
        | You try to change or restore your password.
        br
        | Please use special token below, to do it.
        br
        div.token
            | #{token}
        img(src='https://media.tenor.com/images/1170597818a37a7c6e3e1d4baeb6e2eb/tenor.gif')