extends template
block header
block footer
    div.body
        | Your account #{email} has been restored!
        br
        | Now you can use it.
        br
        img(src='https://media.tenor.com/images/87e0f72e302f214a6216e65d700b3684/tenor.gif')