extends template
block header
block footer
    div.body
        | Hi #{name}!
        br
        | You just update your personal data.
        br
        | Updated data
        br
        | #{newData}
        br
        img(src='https://media.tenor.com/images/13bed96fb1c314e092598db0ac3969cc/tenor.gif')