extends template
block header
block footer
    div.body
        | Nice to meet you #{userName}!
        br
        | You create account.
        br
        img(src='https://media.tenor.com/images/1170597818a37a7c6e3e1d4baeb6e2eb/tenor.gif')