extends template
block header
block footer
    div.body
        | Hi #{userName}!
        br
        | You are try to logged in.
        br
        | You must relogin again with this Secutiry Code #{}
        img(src='https://media.tenor.com/images/1170597818a37a7c6e3e1d4baeb6e2eb/tenor.gif')